
.banner{
    background-image: url(headimg.webp);
    background-size: cover;
    padding: 100px 0;

}
.container-fluid h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
}
.about{
    /* background-color: rgb(243, 155, 155); */
    color:black;
   

}
.about h3{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(227, 140, 35);

}
.pic1{
    margin: 0px 0px;
}
.recipie{
    margin-top:0px;
    background-image: url(burger.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position:center center;
    padding: 100px 0;
    /* max-height:100%;
    max-width: 100%; */
}
/* .recipie h1{
    margin-top: 200px;
} */
/* .pic{
    background-size: cover;
    background-position: center; */
.blend{
    background-image: url(slice.jpg);
    background-size: cover;
    min-height: 500px;
    min-width: 100%;
}
.blend h2{
 margin-top:150px;
}
/* .image{
    min-height: 250px;
} */
/* #contact{ */
    /* margin:15px; */
    /* margin-top:0px;
    padding: 15px;
    width: 100%; */

#footer{

    background-color: black;
    
}

body{
    background-color: bisque;
    
}
/* .imgfood{
    margin: 0px 0px;
} */